html, body{  
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
}

.background-principalcontent{
    background: rgb(195,52,125);
    background: linear-gradient(158deg, rgba(195,52,125,1) 21%, rgba(123,50,200,1) 92%);
    padding: 30px;
    height: 100%;
}

.principal-content {
    height: 100%;
    padding: 0px 0px 30px;
    background-color: rgba(36, 32, 32, 0.349);
}

/* Title */
.box-title>label{
    color: rgb(13, 238, 182);
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* HEADER */
.buttons-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.buttons-header>a{
    padding: 5px;
    color: rgb(255, 255, 255);
    border-right: 1px solid rgba(0, 0, 0, 0.479);
}
.buttons-header>a:hover{
    color: rgb(219, 43, 219);
}
.header{
    background-color: rgba(27, 27, 29, 0.397);
    padding:0px;
}

/* CARDS */
.box-cards{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    
}

.tarjeta-entrega {
    /* width: 30%; */
    /* height: 300px; */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tarjeta-entrega:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.ocultar{
    display: none;
    color: white;
    font-size: 20px;
}

.tarjeta-entrega:hover .ocultar {
    display: block;
}

.boton-ver {
    padding: 5px;
    width: 20%;
    background-color: rgba(0, 0, 255, 0.452);
    text-decoration: none;
}

.boton-ver label{
    color: white;    
    font-size: 18px;
    margin: 25%;
}

.named{
    color: rgb(7, 255, 201);
    font-size: 30px;
}

/*-----------------------  PRACTICO 1 STYLE  --------------------*/
.canvasclass {
    border: 11px solid #4d3024;
    background-color: #e2d5bc;
}

.button-color {
    width: 50px;
    height: 50px;
}

.imgload-default {
    width: 200px;
    margin-left: 20%;
}




/*  -------------------- COLORES ----------------*/
.colorlapiz{
    height: 100%;
}