html, body{  
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
    width: 100%;
}

.principal-content {
    height: 100%;
    background-color: #767c77;
}

/* Title */
.background-yellow{
    background-color: #fbe2e5;
}
.background-yellow>label{
    color: #eb4d55;
    font-size: 24px;
}

.label-grid{
    padding: 5px;
    background-color: #5e6f64bb;
}

.label-grid>label{
    color: #fff0f5;
    font-weight: bold;
    font-size: 20px;
}


/*-----------------------  PRACTICO 1 STYLE  --------------------*/
.canvasclass {
    border: 11px solid #4d3024;
    background-color: #ffffff;
}

.button-color {
    width: 50px;
    height: 50px;
}

.imgload-default {
    width: 200px;
    margin-left: 20%;
}

/*  -------------------- COLORES ----------------*/
.colorlapiz{
    height: 100%;
}